#title{
  display: block;
}

.titleIcon{
  float: left;
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
}
.edgeTitle{
  max-height: 50px;
  max-width: 50px;
}

.innerIcons{
  display: flex;
  align-items: center;
  padding-left: 5px;
}


.cardText{
  border: solid;
  padding: 10px;
}

.keyword{
  border: double;
  padding: 10px;
}
