@font-face {
  font-family: nunito;
  src: url(../fonts/Nunito-Regular.ttf);
}
@font-face {
  font-family: nunitoBold;
  src: url(../fonts/Nunito-Bold.ttf);
}

body{
  font-family: nunito;
  height: 100%;
  color: black;
  background: darkgray;
}

b{
  font-family: nunitoBold;
}
p{
  font-family: nunito;    
}
a{
  font-family: nunitoBold;
}
#open{
  display: none;
}

#body{
  width: 100%;
}

#body div{
  float: left;
  margin: 5px;
}

#sidemenu {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: black;
    overflow-x: hidden;
    transition: 0.1s;
    padding-top: 60px;  
  }
  #sidemenu a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 40px;
    color: white;
    display: block;
  }
  #sidemenu #closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  .sideactive{
    background-color: #222;
  }

#topmenu{
  position: absolute;
  background: black;
  top: 0px;
  right: 0px;
  width: 100%;
  display: flex;
  color: white;
  height: 60px;
}
#logo{
  position: absolute;
  left: 15px;
  top: 5px;
}
#home{
  height: 50px;
}
#menuOptions{
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 18px;
}
#menuOptions ul{
  margin: 0;
  padding: 0;
  list-style-type: none;
}
#menuOptions  li {
  display: inline;
  float: left;
}
#menuOptions a{
  display: block;
  padding: 17.5px 15px ;
}
#menuOptions li a:hover {
  background-color: #222;
  color: white;
}
.active{
  background-color: lightgray;
  color: black;
}

#content{
  overflow-x: auto;
  overflow-y: auto;
  position: absolute;
  top: 60px;
  left: 0px;
  border:none;
  height: calc(100% - 115px);
  width: 100%;
}

#footer{
  position: absolute;
  height: 40 px;
  background: black;
  bottom: 0px;
  right: 0px;
  width: 100%;
  color: white;
  justify-content: center;
  align-items: center;
  display: flex;
}
#footer a{
  color: white;
  text-decoration: none;
}

h1{
  margin-left: 60px;
  margin-top: 20px;
  margin-bottom: 0;
  height: 50px;
  display: flex;
  align-items: center;
}

.subtitle{
  padding-left: 50px;
}

/*O Jogo*/
#backstabbers, #presentation{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
  }
#backstabbers img{
  width: 50%;
}
#presentation{
  width: 50%;
  text-align: justify;
}
#howTo{
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-top: 50px;
}
#howTo img{
  margin: 0 50px;
  width: 200px;
}
#howTo b{
  margin: 0 20px;
}
#howTo p{
  font-size: 30px;
  font-weight: bold;
  width: 300px;
}
#carta, #puxar, #jogar, #ganhar{
  display: flex;
  align-items: center;
  flex-direction: row;
}
#left{
  position: fixed;
  height: 100%;
  top:0;
  left:-10%;
  z-index: -1;
}
#right{
  position: fixed;
  height: 100%;
  top:0;
  right:-10%;
  z-index: -1;
}

/*Casos*/
.edge{
  border: solid gray;
  border-radius: 15px;
  margin: 5px;
  min-height: 50px;
  padding: 10px;
  width: 60%;
}
.case{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 50px;
}
.edgeIcon{
  width: 50px;
  float: left;
}
#edgecases{
  position: absolute;
  right: 0;
  border: none;
  width: 100%;
  height: calc(100% - 190px);
}
#selectNivel{
  display: flex;
  padding-left: 50px;
}
select{
  min-width: 200px;
}
#selectCarta{
  flex-direction: column;
  margin-left: 20px;
}
#botao{
  margin:20px 0 20px 20px;
}
.recap{
  border: dashed gray 2px;
  min-height: 50px;
  padding: 10px;
  width: 60%;
  margin: 20px 50px;
  text-align: justify;
}
#art{
  position: fixed;
  width: 25%;
  top: 0;
  right: 5%;
}
.innerEdge{
  max-width: 20px;
  max-height: 20px;
  padding-left: 5px;
}
.message{
  padding-left: 50px;
  font-size: 14px;
  margin: 0;
}

/*Apoie*/
#contentApoie{
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 1000px){
  #art,#left,#right{
    display: none;
  }
  #presentation, #howTo{
    width: 80%;
    font-size: 30px;
  }
  .edge, .recap{
    width: 90%;
  }
  
  #open{
    display: inline;
    position: absolute;
  }
  #logo{
    position: relative;
  }
  #topmenu{
    height: 100px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  #home{
    height: 100px;
  }
  #menuOptions{
    display: none;
  }
  #content{
    top: 100px;
  }
  #goldLogo{
    display: none;
  }
  #footer a{
    font-size: 30px;
  }

}