@font-face {
  font-family: nunito;
  src: url(../fonts/Nunito-Regular.ttf);
}
@font-face {
  font-family: nunitoBold;
  src: url(../fonts/Nunito-Bold.ttf);
}

body{
  font-family: nunito;
  height: 100%;
  color: black;
  background: darkgray;
}

b{
  font-family: nunitoBold;
}
p{
  font-family: nunito;
}
a{
  font-family: nunitoBold;
}

#body{
  width: 100%;
}

#body div{
  float: left;
  margin: 5px;
}

#topmenu{
  position: absolute;
  background: black;
  top: 0px;
  right: 0px;
  width: 100%;
  display: flex;
  color: white;
  height: 60px;
}
#logo{
  position: absolute;
  left: 15px;
  top: 5px;
}
#menuOptions{
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 18px;
}
#menuOptions ul{
  margin: 0;
  padding: 0;
  list-style-type: none;
}
#menuOptions  li {
  display: inline;
  float: left;
}
#menuOptions a{
  display: block;
  padding: 17.5px 15px ;
}
#menuOptions li a:hover {
  background-color: #222;
  color: white;
}
.active {
  background-color: lightgray;
  color: black;
}

#content{
  overflow-x: auto;
  overflow-y: auto;
  position: absolute;
  top: 60px;
  left: 0px;
  border:none;
  height: calc(100% - 115px);
  width: 100%;
}

#footer{
  position: absolute;
  height: 40 px;
  background: black;
  bottom: 0px;
  right: 0px;
  width: 100%;
  color: white;
  justify-content: center;
  align-items: center;
  display: flex;
}
#footer a{
  color: white;
  text-decoration: none;
}

h1{
  margin-left: 60px;
  margin-top: 20px;
  margin-bottom: 0;
  height: 50px;
  display: flex;
  align-items: center;
}

.subtitle{
  padding-left: 50px;
}

/*Casos*/
.edge{
  border: solid gray;
  border-radius: 15px;
  margin: 5px;
  min-height: 50px;
  padding: 10px;
  width: 60%;
}
.case{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 50px;
}
.edgeIcon{
/*  max-height: 50px;*/
  width: 50px;
  float: left;
}
#edgecases{
  position: absolute;
  right: 0;
  border: none;
  width: 100%;
  height: calc(100% - 190px);
}
#select{
  display: flex;
  padding-left: 50px;
}
select{
  width: 100%;
}
#carta{
  margin-left: 20px;
}
#botao{
  margin:20px 0 20px 20px;
}
.recap{
  border: dashed gray 2px;
  min-height: 50px;
  padding: 10px;
  width: 60%;
  margin: 20px 50px;
  text-align: justify;
}
#art{
  position: fixed;
  width: 25%;
  top: 0;
  right: 5%;
}

/*Apoie*/
#contentApoie{
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 600px){
  #art{
    display: none;
  }
}