[submodule "links"]
	path = links
	url = git@github.com:backstabbersgame/links.git
[submodule "landing-page"]
	path = landing-page
	url = https://github.com/backstabbersgame/landing-page.git
	branch = gh-pages
